body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --background: #121212;
  --pink: #ea00ff;
  --indigo: #7300ff;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 0.9rem;
  color: #ea00ff;
}

.loading-screen > div {
  border-radius: 11px;
  background: #121212;
  padding: 1rem;
  box-shadow: 7px 7px 14px #0e0e0e, -7px -7px 14px #161616;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #7300ff; /* Blue */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
